useDynLib(numstore, .registration = TRUE)
importFrom(Rcpp, sourceCpp)

export(ns_types)
export(ns_open, smf_open, ns_close, ns_crash, ns_remove, ns_is_open, ns_last_error)
export(ns_begin, ns_commit, ns_rollback, ns_txn_active, ns_transaction)
export(ns_execute, ns_var_len, ns_read, ns_write)
export(ns_plan, ns_plan_execute, ns_plan_var_len, ns_plan_read, ns_plan_write, ns_plan_free)
export(smf_size, smf_insert, smf_append, smf_write, smf_read, smf_remove)

S3method(print, numstore_db)
S3method(print, numstore_smfile)
S3method(print, numstore_txn)
S3method(print, numstore_plan)
